 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Business</h2>
      <h2>Administration</h2>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <p>Special skills and experience in Business Analytics, economic and Financial Accounting unlock critical insights into business performance and potential. </p>
    </div>
    <div class="tech">
      <h2>Controller and</h2>
      <h2>Data Analytics</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-pandas-plain"></i>
      <i class="devicon-numpy-plain"></i>
      <p>Implement analytical techniques in Excel, Python and apply fundamental quantitative methods to business problems. Numpy, Pandas, Matplotlib and Seaborn. Coding exploratory data analysis projects in different companies and creating visualizations in Tableau and Power BI </p>
    </div>
    <div class="tech">
      <h2>Python</h2>
      <h2>backend</h2>
      <i class="devicon-fastapi-plain"></i>
      <i class="devicon-flask-plain"></i>
      <i class="devicon-django-plain"></i>
      <p>Python Backend with FastAPI, Flask and Django. </p>
    </div>
</div>
