 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Business Administration</h2>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Special skills and experience in Business Analytics, economic and Financial Accounting unlock critical insights into business performance and potential. </p>
    </div>
    <div class="tech">
      <h2>Controller / Data Analytics</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <i class="devicon-numpy-original-wordmark colored"></i>
      <p>Implement analytical techniques in Excel, Python and apply fundamental quantitative methods to business problems. Numpy, Pandas, Matplotlib and Seaborn. Coding exploratory data analysis projects in different companies and creating visualizations in Tableau and Power BI </p>
    </div>
    <div class="tech">
      <h2>Python Backend</h2>
      <i class="devicon-fastapi-plain-wordmark colored"></i>
      <i class="devicon-flask-original-wordmark colored"></i>
      <i class="devicon-django-plain"></i>
      <p>Python Backend with FastAPI, Flask and Django. </p>
    </div>
</div>
