 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Business Administration</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Special skills and experience in Business Analytics, economic and Financial Accounting unlock critical insights into business performance and potential. </p>
    </div>
    <div class="tech">
      <h2>Controller</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Implement analytical techniques in Excel, Python and apply fundamental quantitative methods to business problems. </p>
    </div>
    <div class="tech">
      <h2>Tech</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Coding exploratory data analysis projects in different companies and creating visualizations in Tableau and Power BI.</p>
    </div>
</div>
