<div class="user-details">
  
  
  <h1> Django Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="django" src="{{ "/assets/img/django.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Backend with Django </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Descrition of the project.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="fastapi" src="{{ "/assets/img/fastapi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Backend with FastAPI </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Descrition of the project.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

  <h1> Power BI Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="django" src="{{ "/assets/img/django.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Backend with Django </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Descrition of the project.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

  <h1> Tableau Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="django" src="{{ "/assets/img/django.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Backend with Django </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Descrition of the project.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
